a:link{
text-decoration:none;
}
.bot_li{
	list-style: none;
	text-decoration:none;
}

.option{
text-align:center;
color:#FFFFFF;
font-family:Arial;

margin-left:20px;
margin-right:20px;
}
#main_heading{
padding-left:30px;
color:#FFFFFF;
font-family:Arial;
font-size:30px;
letter-spacing:4px;
}
#small_faza{
font-family:Arial;
letter-spacing:4px;
font-size:15px;
}
#img_option{
font-family:Arial;
text-align:center;
color:black;
font-size:20px;
}
#home_text{
text-align:center;
line-height:1.6;
font-family:Verdana;
padding-left:22%;
padding-right:22%;
padding-bottom:2%;
padding-top:1%;
}
#home_text_heading{
padding-top:10px;
text-align:center;
color:#4169E1;
font-family:Verdana;
}
#text_before_img{
padding-left:20%;
padding-right:20%; 
text-align:center;
line-height:1.6;
font-family:Verdana;
}
#text_before_img_heading{
color:#4169E1;
text-align:center;
font-family:Verdana;
}
#bot_text_language{
text-align:left;
color:#696969;
font-family:Verdana;
font-size:10px;
padding-left:10px;
}
.bot_text_lastupd{
text-align:right;
font-family:Verdana;
color:#696969;
font-size:10px;
padding-right:10px;
}
#load_text{
color:white;
font-family:Verdana;
padding-left:35%;
padding-right:35%;
padding-bottom:2%;
text-align:center;
line-height:1.6;
}
#load_text_heading{
color:white;
font-size: 22px;
font-family:Verdana;
padding-left:35%;
padding-right:35%;
padding-bottom:2%;
text-align:center;
line-height:1.6;
}