.list_text{
font-family:Verdana;
font-size:15px;
text-align:center;
color:#808080;
}
.patch_content_text{
text-align:center;
font-family:Verdana;
color:white;
inline-height:1.6;
padding-left:15%;
padding-right:15%;
padding-top:10px;
padding-bottom:10px;
}