#intro_table{
height:30%;
width:100%;
background-color:#DCDCDC;
border-right-width:0px;
border-left-width:0px;
border-top-width:0px;
margin-top:10px;
border-bottom-width:0px;
}
#intro_table_td{
border-right-width:0px;
border-left-width:0px;
border-top-width:0px;
border-bottom-width:0px;
}
.howtouse_tbls{
border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-color:#DCDCDC;
border-bottom-width:0px; 
}
.howtouse_tbls_1{
border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
background-color:#DCDCDC;
border-bottom-width:0px; 
margin-top:10px;
margin-bottom:10px;
}