#intro_text{
padding-left:30%;
padding-right:30%; 
text-align:center;
line-height:1.6;
font-family:Verdana;
}
#intro_text_heading{
color:#1E90FF;
text-align:center;
font-family:Verdana;
}




#tut_photo_2{
padding-top:10px;
padding-bottom:10px;

}
#tut_photo_4{
padding-top:10px;
padding-bottom:10px;

}