#news_table{
width:60%;

background-color:#E0FFFF;
margin-top:10px;
margin-bottom:10px;
}
.news_td_data{
width:15%;
height:50px;

border-right-width:0px;
border-top-width:0px;
border-left-width:0px;
border-bottom-width:1px;
}
.news_td_content{
border-right-width:0px;
border-top-width:0px;
border-left-width:0px;
border-bottom-width:1px;
}
