#load_table{
margin-top:20px;
margin-bottom:20px;
width:80%;
height:50%;
background:url('bck_sky.jpg');
}
#td_1{
width:70%;
}



#download_text{
text-align:center;
line-height:1.6;
color:#FFFFFF;
padding-left:10%;
padding-right:10%;
font-family:Verdana;
font-size:22px;
}
#download_btn_text{
font-family:Verdana;
}



#download_btn{
width:70%;
height:60px;
margin-top:20px;
background-color:#FFFFFF;
border-width:0px;
}